*.pydevproject
*.project
*.egg-info
*.class
*.pyo
*.pyc
*.db
*.sqlite
*.DS_Store
.isort.cfg
.markdownlint.yaml
.trunk
.flake8
.DS_Store
temp
/docker_files/data
/docker_files/logs
/docs/_build
/docs/_static