input:checked ~ .dot {
  transform: translateX(100%);
  background-color: #48bb78;
}
section {
  width: 100%;
  margin-top: 50px;
  padding: 5px;
}

.form-container {
  float: left;
  width: 60%;
  height: calc(50%-50px);
  padding: 10px;
  margin: auto;
}

#right {
  float: right;
  width: 40%;
}

.form {
  position: relative;
  margin: auto;
  display: flex;
  justify-content: space-between;
}

table {
  border-style: solid;
  border-width: 1px;
  border-color: #000000;
  border-radius: 5px;
}

.input-daterange {
  margin-left: 0;
  width: 75%;
}

.file-select .form-group {
  float: left;
  width: 60%;
}

#id_access_code {
  margin-left: 15px;
}

#nasaaccess {
  width: 100%;
}

#download_data {
  width: 100%;
}

.alert-warning {
  margin-bottom: 0px;
}
#app-content-wrapper {
  overflow-y: scroll;
}
#inner-app-content {
  display: flex;
  height: 89vh;
  overflow-y: hidden;
  padding: 0;
}
#tableLegend {
  word-break: break-all;
}

/* #app-content-wrapper #app-content #app-navigation .nav {
  overflow: scroll;
} */
.qs-datepicker-container{
  left: 0px !important;
}