{% extends "nasaaccess/base.html" %}
{% load tethys_gizmos %}
{% load static %}

{% block styles %}
{{ block.super }}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/openlayers/4.4.2/ol.css" type="text/css">
<link href="https://gitcdn.github.io/bootstrap-toggle/2.2.2/css/bootstrap-toggle.min.css" rel="stylesheet">
<link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.6.4/css/bootstrap-datepicker3.css" rel="stylesheet"/>


{% endblock %}

{% block global_scripts %}
{{block.super}}
<script>
  let GEOSERVER_REST_URL = "{{ geoserver_url|safe }}";
  let GEOSERVER_WORKSPACE = "{{geoserver_workspace|safe}}"
  let ERROR_STR = "{{error_str|safe}}"
</script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/3.7.1/chart.min.js" integrity="sha512-QSkVNOCYLtj73J4hbmVoOV6KVZuMluZlioC+trLpewV8qMjsWqlIQvkn1KGX2StWvPMdWGBqim1xlC8krl1EKQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script src="https://cdn.jsdelivr.net/npm/hammerjs@2.0.8"></script>

<script src="https://unpkg.com/chartjs-plugin-zoom@1.2.0/dist/chartjs-plugin-zoom.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/openlayers/4.4.2/ol.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/chroma-js/1.3.4/chroma.min.js"></script>
<script src="https://code.highcharts.com/stock/highstock.js"></script>
<script src="https://gitcdn.github.io/bootstrap-toggle/2.2.2/js/bootstrap-toggle.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.6.4/js/bootstrap-datepicker.js"></script>

{% endblock %}

{% block header_buttons %}
  <div class="header-button glyphicon-button" data-bs-toggle="tooltip" data-placement="bottom" title="Help">
    <a data-bs-toggle="modal" data-bs-target="#help-modal"><i class="bi bi-question"></i></a>
  </div>
{% endblock %}

{% block app_navigation_items %}
<div class="flex flex-col">
      <div class="my-2">
        <div class="flex justify-center">
          <p>
            <strong>
              Boundaries
            </strong>
          </p>
        </div>
          <div class = "my-2 h-10 flex justify-between items-center">
              <div>
                <p>
                  <strong>
                    *Watershed
                  </strong>
                </p>
              </div>
              <div class="bg-cyan-900 text-zinc-50 flex justify-center items-center h-10 w-10 rounded-lg cursor-pointer" id="addShp">
                <i class="bi bi-cloud-arrow-up"></i>
              </div>
          </div>
          {% gizmo select_watershed %}

          <div class = "my-2 h-10 flex justify-between items-center">
            <div>
              <p>
                <strong>
                  *DEM
                </strong>
              </p>
            </div>
            <div class="bg-cyan-900 text-zinc-50 flex justify-center items-center h-10 w-10 rounded-lg cursor-pointer" id="addDem">
              <i class="bi bi-cloud-arrow-up"></i>
            </div>
        </div>
          {% gizmo select_dem %}
      </div>

        <div class="my-2">
          

          <div class="flex justify-between items-center my-2 py-0">
            <p><strong></strong></p>
            <p><a style="font-style: oblique;font-size:small;font-weight:bold;">*Same time range can used for GLDAS, GLDASpolyCentroid, GPM, and GPMpolyCentroid functions.</a></p>
            <label 
              for="sameDates_input"
              class="flex items-center cursor-pointer"
            >
              <!-- toggle -->
              <div class="relative">
                <!-- input -->
                <input id="sameDates_input" type="checkbox" class="sr-only chk" value="sameDates" />
                <!-- line -->
                <div class="w-10 h-4 bg-gray-400 rounded-full shadow-inner"></div>
                <!-- dot -->
                <div class="dot absolute w-6 h-6 bg-white rounded-full shadow -left-1 -top-1 transition"></div>
              </div>
              <!-- label -->
              <div class="ml-3 text-gray-700 font-medium">
              </div>
            </label>
          </div>
          <div id="sameDates_id_block" class="h-0 overflow-hidden flex flex-col space-y-4 transition duration-700 ease-out">
            <div class="flex flex-row space-x-4">
              <p class="w-6/12">*Start date</p> 
              <input type="text" id="start_pick" name="start_samedates" class="start text-zinc-500 w-full rounded-lg bg-white border border-gray-400 hover:border-gray-500 px-4 py-2 pr-8 rounded shadow leading-tight focus:outline-none focus:shadow-outline">
            </div>
            <div class="flex flex-row space-x-4">
              <p class="w-6/12">*End date</p>
              <input type="text" id="end_pick" name="end_samedates" class="end w-full text-zinc-500 rounded-lg bg-white border border-gray-400 hover:border-gray-500 px-4 py-2 pr-8 rounded shadow leading-tight focus:outline-none focus:shadow-outline">
            </div>

          </div>
        </div>

        <div>
          <div class="flex justify-center my-2">
            <p class="flex space-x-2">   
              <span class="font-bold">Available Functions</span> 
              <span id="funcs_def" class="cursor-pointer">
                <svg class="w-8 h-8" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor">
                  <path fill-rule="evenodd" d="M18 10a8 8 0 11-16 0 8 8 0 0116 0zm-8-3a1 1 0 00-.867.5 1 1 0 11-1.731-1A3 3 0 0113 8a3.001 3.001 0 01-2 2.83V11a1 1 0 11-2 0v-1a1 1 0 011-1 1 1 0 100-2zm0 8a1 1 0 100-2 1 1 0 000 2z" clip-rule="evenodd" />
                </svg>
              </span> 
            </p>
           </div>
           <p>**If you have activated the same time range option, select at least one function (i.e., <a style="font-style: oblique;font-weight: bold;">GLDASpolyCentroid, GLDAS, GPMpolyCentroid, GPM, GPM_NRT</a>).
            <br></br> 
            <strong>Otherwise</strong>, you can select any function from the available functions.</p>

        <div>
          <!-- GLDASpolyCentroid -->
          <div class="w-full mx-auto border-b my-5">
            <div class="flex justify-between items-center my-2 py-0">
              <p> <strong> GLDASpolyCentroid </strong> </p> 
              <label 
                for="GLDASpolycentroid_input"
                class="flex items-center cursor-pointer"
              >
                <!-- toggle -->
                <div class="relative">
                  <!-- input -->
                  <input id="GLDASpolycentroid_input" type="checkbox" class="sr-only chk" value="GLDASpolyCentroid" />
                  <!-- line -->
                  <div class="w-10 h-4 bg-gray-400 rounded-full shadow-inner"></div>
                  <!-- dot -->
                  <div class="dot absolute w-6 h-6 bg-white rounded-full shadow -left-1 -top-1 transition"></div>
                </div>
                <!-- label -->
                <div class="ml-3 text-gray-700 font-medium">
                </div>
              </label>
            </div>
            <div id="GLDASpolycentroid_id_block" class="h-0 overflow-hidden flex flex-col space-y-4 transition duration-700 ease-out">
              <div class="flex flex-row space-x-4">
                <p class="w-6/12">*Start date</p> 
                <input type="text" id="start_GLDASpolycentroid" name="start_GLDASpolycentroid" class="start w-full rounded-lg bg-white border border-gray-400 hover:border-gray-500 px-4 py-2 pr-8 rounded shadow leading-tight focus:outline-none focus:shadow-outline">
              </div>
              <div class="flex flex-row space-x-4">
                <p class="w-6/12">*End date</p>
                <input type="text" id="end_GLDASpolycentroid" name="end_GLDASpolycentroid" class="end w-full rounded-lg bg-white border border-gray-400 hover:border-gray-500 px-4 py-2 pr-8 rounded shadow leading-tight focus:outline-none focus:shadow-outline">
              </div>
            </div>
          </div>

          <!-- GPM_NRT -->
          <div class="w-full mx-auto border-b my-5">
            <div class="flex justify-between items-center my-2 py-0">
              <p> <strong> GPM_NRT </strong> </p> 
              <label 
                for="GPM_NRT_input"
                class="flex items-center cursor-pointer"
              >
                <!-- toggle -->
                <div class="relative">
                  <!-- input -->
                  <input id="GPM_NRT_input" type="checkbox" class="sr-only chk" value="GPM_NRT" />
                  <!-- line -->
                  <div class="w-10 h-4 bg-gray-400 rounded-full shadow-inner"></div>
                  <!-- dot -->
                  <div class="dot absolute w-6 h-6 bg-white rounded-full shadow -left-1 -top-1 transition"></div>
                </div>
                <!-- label -->
                <div class="ml-3 text-gray-700 font-medium">
                </div>
              </label>
            </div>
            <div id="GPM_NRT_id_block" class="h-0 overflow-hidden flex flex-col space-y-4 transition duration-700 ease-out">
              <div class="flex flex-row space-x-4">
                <p class="w-6/12">*Start date</p> 
                <input type="text" id="start_GPM_NRT" name="start_GPM_NRT" class="start w-full rounded-lg bg-white border border-gray-400 hover:border-gray-500 px-4 py-2 pr-8 rounded shadow leading-tight focus:outline-none focus:shadow-outline">
              </div>
              <div class="flex flex-row space-x-4">
                <p class="w-6/12">*End date</p>
                <input type="text" id="end_GPM_NRT" name="end_GPM_NRT" class="end w-full rounded-lg bg-white border border-gray-400 hover:border-gray-500 px-4 py-2 pr-8 rounded shadow leading-tight focus:outline-none focus:shadow-outline">
              </div>
            </div>
          </div>

          <!-- GLDASwat -->
          <div class="w-full mx-auto border-b my-5">
            <div class="flex justify-between items-center my-2 py-0">
              <p><strong>GLDAS</strong></p> 
              <label 
                for="GLDASwat_input"
                class="flex items-center cursor-pointer"
              >
                <!-- toggle -->
                <div class="relative">
                  <!-- input -->
                  <input id="GLDASwat_input" type="checkbox" class="sr-only chk" value="GLDASwat" />
                  <!-- line -->
                  <div class="w-10 h-4 bg-gray-400 rounded-full shadow-inner"></div>
                  <!-- dot -->
                  <div class="dot absolute w-6 h-6 bg-white rounded-full shadow -left-1 -top-1 transition"></div>
                </div>
                <!-- label -->
                <div class="ml-3 text-gray-700 font-medium">
                </div>
              </label>
            </div>
            <div id="GLDASwat_id_block" class="h-0 overflow-hidden flex flex-col space-y-4 transition duration-700 ease-out">
              <div class="flex flex-row space-x-4">
                <p class="w-6/12">*Start date</p> 
                <input type="text" id="start_GLDASwat" name="start_GLDASwat" class="start w-full rounded-lg bg-white border border-gray-400 hover:border-gray-500 px-4 py-2 pr-8 rounded shadow leading-tight focus:outline-none focus:shadow-outline">
              </div>
              <div class="flex flex-row space-x-4">
                <p class="w-6/12">*End date</p>
                <input type="text" id="end_GLDASwat" name="end_GLDASwat" class="end w-full rounded-lg bg-white border border-gray-400 hover:border-gray-500 px-4 py-2 pr-8 rounded shadow leading-tight focus:outline-none focus:shadow-outline">
              </div>
            </div>
          </div>

          <!-- GPMpolyCentroid -->
          <div class="w-full mx-auto border-b my-5">
            <div class="flex justify-between items-center my-2 py-0">
              <p> <strong>GPMpolyCentroid</strong> </p> 
              <label 
                for="GPMpolyCentroid_input"
                class="flex items-center cursor-pointer"
              >
                <!-- toggle -->
                <div class="relative">
                  <!-- input -->
                  <input id="GPMpolyCentroid_input" type="checkbox" class="sr-only chk" value="GPMpolyCentroid" />
                  <!-- line -->
                  <div class="w-10 h-4 bg-gray-400 rounded-full shadow-inner"></div>
                  <!-- dot -->
                  <div class="dot absolute w-6 h-6 bg-white rounded-full shadow -left-1 -top-1 transition"></div>
                </div>
                <!-- label -->
                <div class="ml-3 text-gray-700 font-medium">
                </div>
              </label>
            </div>
            <div id="GPMpolyCentroid_id_block" class="h-0 overflow-hidden flex flex-col space-y-4 transition duration-700 ease-out">
              <div class="flex flex-row space-x-4">
                <p class="w-6/12">*Start date</p> 
                <input type="text" id="start_GPMpolyCentroid" name="start_GPMpolyCentroid" class="start w-full rounded-lg bg-white border border-gray-400 hover:border-gray-500 px-4 py-2 pr-8 rounded shadow leading-tight focus:outline-none focus:shadow-outline">
              </div>
              <div class="flex flex-row space-x-4">
                <p class="w-6/12">*End date</p>
                <input type="text" id="end_GPMpolyCentroid" name="end_GPMpolyCentroid" class="end w-full rounded-lg bg-white border border-gray-400 hover:border-gray-500 px-4 py-2 pr-8 rounded shadow leading-tight focus:outline-none focus:shadow-outline">
              </div>
            </div>
          </div>

          <!-- GPMswat -->
          <div class="w-full mx-auto border-b my-5">
            <div class="flex justify-between items-center my-2 py-0">
              <p> <strong>GPM</strong></p>
              <label 
                for="GPMswat_input"
                class="flex items-center cursor-pointer"
              >
                <!-- toggle -->
                <div class="relative">
                  <!-- input -->
                  <input id="GPMswat_input" type="checkbox" class="sr-only chk" value="GPMswat" />
                  <!-- line -->
                  <div class="w-10 h-4 bg-gray-400 rounded-full shadow-inner"></div>
                  <!-- dot -->
                  <div class="dot absolute w-6 h-6 bg-white rounded-full shadow -left-1 -top-1 transition"></div>
                </div>
                <!-- label -->
                <div class="ml-3 text-gray-700 font-medium">
                </div>
              </label>
            </div>
            <div id="GPMswat_id_block" class="h-0 overflow-hidden flex flex-col space-y-4 transition duration-700 ease-out">
              <div class="flex flex-row space-x-4">
                <p class="w-6/12">*Start date</p> 
                <input type="text" id="start_GPMswat" name="start_GPMswat" class="start w-full rounded-lg bg-white border border-gray-400 hover:border-gray-500 px-4 py-2 pr-8 rounded shadow leading-tight focus:outline-none focus:shadow-outline">
              </div>
              <div class="flex flex-row space-x-4">
                <p class="w-6/12">*End date</p>
                <input type="text" id="end_GPMswat" name="end_GPMswat" class="end w-full rounded-lg bg-white border border-gray-400 hover:border-gray-500 px-4 py-2 pr-8 rounded shadow leading-tight focus:outline-none focus:shadow-outline">
              </div>
            </div>
          </div>

          <!-- NEX_GDDP_CMIP5 -->
          <div class="w-full mx-auto border-b my-5">
            <div class="flex justify-between items-center my-2 py-0">

              <p> <strong>CMIP5 collection</strong></p> 

              <label 
                for="NEX_GDDP_CMIP5_input"
                class="flex items-center cursor-pointer"
              >
                <!-- toggle -->
                <div class="relative">
                  <!-- input -->
                  <input id="NEX_GDDP_CMIP5_input" type="checkbox" class="sr-only chk" value="NEX_GDDP_CMIP5" />
                  <!-- line -->
                  <div class="w-10 h-4 bg-gray-400 rounded-full shadow-inner"></div>
                  <!-- dot -->
                  <div class="dot absolute w-6 h-6 bg-white rounded-full shadow -left-1 -top-1 transition"></div>
                </div>
                <!-- label -->
                <div class="ml-3 text-gray-700 font-medium">
                </div>
              </label>
            </div>
            <div id="NEX_GDDP_CMIP5_id_block" class="h-0 overflow-hidden flex flex-col space-y-4 transition duration-700 ease-out">
              <div class="flex flex-row space-x-4">
                <p class="w-6/12">*Model</p>
                <div class="inline-block relative w-full">
                  <select name="NEX_GDDP_CMIP5_model" id="NEX_GDDP_CMIP5_model_select" class="block appearance-none w-full bg-white border border-gray-400 hover:border-gray-500 px-4 py-2 pr-8 rounded shadow leading-tight focus:outline-none focus:shadow-outline">
                    <option value="inmcm4">inmcm4</option>
                    <option value="bcc-csm1-1">bcc-csm1-1</option>
                    <option value="MRI-CGCM3">MRI-CGCM3</option>
                    <option value="MPI-ESM-MR"> MPI-ESM-MR</option>
                    <option value="MPI-ESM-LR">MPI-ESM-LR</option>
                    <option value="MIROC5">MIROC5</option>
                    <option value="MIROC-ESM">MIROC-ESM</option>
                    <option value="MIROC-ESM-CHEM">MIROC-ESM-CHEM</option>
                    <option value="IPSL-CM5A-MR">IPSL-CM5A-MR</option>
                    <option value="IPSL-CM5A-LR">IPSL-CM5A-LR</option>
                    <option value="GFDL-ESM2M">GFDL-ESM2M</option>
                    <option value="GFDL-ESM2G">GFDL-ESM2G</option>
                    <option value="GFDL-CM3">GFDL-CM3</option>
                    <option value="CanESM2">CanESM2</option>
                    <option value="CSIRO-Mk3-6-0">CSIRO-Mk3-6-0</option>
                    <option value="CNRM-CM5">CNRM-CM5</option>
                    <option value="CESM1-BGC">CESM1-BGC</option>
                    <option value="CCSM4">CCSM4</option>
                    <option value="BNU-ESM">BNU-ESM</option>
                    <option value="ACCESS1-0">ACCESS1-0</option>
                  </select>
                  <div class="pointer-events-none absolute inset-y-0 right-0 flex items-center px-2 text-gray-700">
                    <svg class="fill-current h-4 w-4" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20"><path d="M9.293 12.95l.707.707L15.657 8l-1.414-1.414L10 10.828 5.757 6.586 4.343 8z"/></svg>
                  </div>
                </div>
               </div>
               <div class="flex flex-row space-x-4">
                  <p class="w-6/12">*Type</p>

                  <div class="inline-block relative w-full">
                    <select name="NEX_GDDP_CMIP5_type" id="NEX_GDDP_CMIP5_type_select" class="block appearance-none w-full bg-white border border-gray-400 hover:border-gray-500 px-4 py-2 pr-8 rounded shadow leading-tight focus:outline-none focus:shadow-outline">
                      <option value="pr">pr</option>
                      <option value="tas">tas</option>
                    </select>
                    <div class="pointer-events-none absolute inset-y-0 right-0 flex items-center px-2 text-gray-700">
                      <svg class="fill-current h-4 w-4" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20"><path d="M9.293 12.95l.707.707L15.657 8l-1.414-1.414L10 10.828 5.757 6.586 4.343 8z"/></svg>
                    </div>
                  </div>
               </div>

              <div class="flex flex-row space-x-4">
                <p class="w-6/12">*Slice</p>
                <div class="inline-block relative w-full">
                  <select name="NEX_GDDP_CMIP5_slice" id="NEX_GDDP_CMIP5_slice_select" class="block appearance-none w-full bg-white border border-gray-400 hover:border-gray-500 px-4 py-2 pr-8 rounded shadow leading-tight focus:outline-none focus:shadow-outline">
                    <option value="rcp45">rcp45</option>
                    <option value="rcp85">rcp85</option>
                    <option value="historical">historical</option>
                  </select>
                  <div class="pointer-events-none absolute inset-y-0 right-0 flex items-center px-2 text-gray-700">
                    <svg class="fill-current h-4 w-4" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20"><path d="M9.293 12.95l.707.707L15.657 8l-1.414-1.414L10 10.828 5.757 6.586 4.343 8z"/></svg>
                  </div>
                </div>
              </div>
              <div class="flex flex-row space-x-4">
                <p class="w-6/12">*Start date</p> 
                <input type="text" id="start_NEX_GDDP_CMIP5" name="start_NEX_GDDP_CMIP5" class="start w-full rounded-lg bg-white border border-gray-400 hover:border-gray-500 px-4 py-2 pr-8 rounded shadow leading-tight focus:outline-none focus:shadow-outline">
              </div>
              <div class="flex flex-row space-x-4">
                <p class="w-6/12">*End date</p>
                <input type="text" id="end_NEX_GDDP_CMIP5" name="end_NEX_GDDP_CMIP5" class="end w-full rounded-lg bg-white border border-gray-400 hover:border-gray-500 px-4 py-2 pr-8 rounded shadow leading-tight focus:outline-none focus:shadow-outline">
              </div>
  
            </div>
          </div>
          <!-- NEX_GDDP_CMIP6 -->
          <div class="w-full mx-auto border-b my-5">
            <div class="flex justify-between items-center my-2 py-0">

              <p> <strong>CMIP6 collection</strong>

              </p> 

              <label 
                for="NEX_GDDP_CMIP6_input"
                class="flex items-center cursor-pointer"
              >
                <!-- toggle -->
                <div class="relative">
                  <!-- input -->
                  <input id="NEX_GDDP_CMIP6_input" type="checkbox" class="sr-only chk" value="NEX_GDDP_CMIP6" />
                  <!-- line -->
                  <div class="w-10 h-4 bg-gray-400 rounded-full shadow-inner"></div>
                  <!-- dot -->
                  <div class="dot absolute w-6 h-6 bg-white rounded-full shadow -left-1 -top-1 transition"></div>
                </div>
                <!-- label -->
                <div class="ml-3 text-gray-700 font-medium">
                </div>
              </label>
            </div>
            <div id="NEX_GDDP_CMIP6_id_block" class="h-0 overflow-hidden flex flex-col space-y-4 transition duration-700 ease-out">
              <div class="flex flex-row space-x-4">
                <p class="w-6/12">Model</p>
                <div class="inline-block relative w-full">
                  <select name="NEX_GDDP_CMIP6_model" id="NEX_GDDP_CMIP6_model_select" class="block appearance-none w-full bg-white border border-gray-400 rounded-lg hover:border-gray-500 px-4 py-2 pr-8 rounded shadow leading-tight focus:outline-none focus:shadow-outline">
                    <option value="ACCESS-ESM1-5">ACCESS-ESM1-5</option>
                    <option value="BCC-CSM2-MR">BCC-CSM2-MR</option>
                    <option value="CanESM5">CanESM5</option>
                    <option value="CMCC-CM2-SR5">CMCC-CM2-SR5</option>
                    <option value="CMCC-ESM2">CMCC-ESM2</option>
                    <option value="CNRM-CM6-1">CNRM-CM6-1</option>
                    <option value="CNRM-ESM2-1">CNRM-ESM2-1</option>
                    <option value="EC-Earth3">EC-Earth3</option>
                    <option value="EC-Earth3-Veg-LR">EC-Earth3-Veg-LR</option>
                    <option value="FGOALS-g3">FGOALS-g3</option>
                    <option value="GFDL-CM4 (gr1)">GFDL-CM4 (gr1)</option>
                    <option value="GFDL-CM4 (gr2)">GFDL-CM4 (gr2)</option>
                    <option value="GFDL-ESM4">GFDL-ESM4</option>
                    <option value="GISS-E2-1-G">GISS-E2-1-G</option>
                    <option value="HadGEM3-GC31-LL">HadGEM3-GC31-LL</option>
                    <option value="INM-CM4-8">INM-CM4-8</option>
                    <option value="INM-CM5-0">INM-CM5-0</option>
                    <option value="IPSL-CM6A-LR">IPSL-CM6A-LR</option>
                    <option value="KACE-1-0-G">KACE-1-0-G</option>
                    <option value="KIOST-ESM ">KIOST-ESM </option>
                    <option value="MIROC-ES2L">MIROC-ES2L</option>
                    <option value="MIROC6">MIROC6</option>
                    <option value="MPI-ESM1-2-HR">MPI-ESM1-2-HR</option>
                    <option value="MPI-ESM1-2-LR">MPI-ESM1-2-LR</option>
                    <option value="MRI-ESM2-0">MRI-ESM2-0</option>
                    <option value="NESM3">NESM3</option>
                    <option value="NorESM2-LM">NorESM2-LM</option>
                    <option value="NorESM2-MM">NorESM2-MM</option>
                    <option value="TaiESM1">TaiESM1</option>
                    <option value="UKESM1-0-LL">UKESM1-0-LL</option>
                  </select>
                  <div class="pointer-events-none absolute inset-y-0 right-0 flex items-center px-2 text-gray-700">
                    <svg class="fill-current h-4 w-4" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20"><path d="M9.293 12.95l.707.707L15.657 8l-1.414-1.414L10 10.828 5.757 6.586 4.343 8z"/></svg>
                  </div>
                </div>
              </div>
              <div class="flex flex-row space-x-4">
                <p class="w-6/12">*Type</p>
                <div class="inline-block relative w-full">
                  <select name="NEX_GDDP_CMIP6_type" id="NEX_GDDP_CMIP6_type_select" class="block appearance-none w-full bg-white border border-gray-400 rounded-lg hover:border-gray-500 px-4 py-2 pr-8 rounded shadow leading-tight focus:outline-none focus:shadow-outline">
                    <option value="pr">pr</option>
                    <option value="tas">tas</option>
                  </select>
                  <div class="pointer-events-none absolute inset-y-0 right-0 flex items-center px-2 text-gray-700">
                    <svg class="fill-current h-4 w-4" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20"><path d="M9.293 12.95l.707.707L15.657 8l-1.414-1.414L10 10.828 5.757 6.586 4.343 8z"/></svg>
                  </div>
                </div>
              </div>
              <div class="flex flex-row space-x-4">
                <p class="w-6/12">*Slice</p>
                <div class="inline-block relative w-full">
                  <select name="NEX_GDDP_CMIP6_slice" id="NEX_GDDP_CMIP6_slice_select" class="block appearance-none w-full bg-white border border-gray-400 rounded-lg hover:border-gray-500 px-4 py-2 pr-8 rounded shadow leading-tight focus:outline-none focus:shadow-outline">
                    <option value="ssp126">ssp126</option>
                    <option value="ssp245">ssp245</option>
                    <option value="ssp370">ssp370</option>
                    <option value="ssp585">ssp585</option>
                    <option value="historical">historical</option>
                  </select>
                  <div class="pointer-events-none absolute inset-y-0 right-0 flex items-center px-2 text-gray-700">
                    <svg class="fill-current h-4 w-4" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20"><path d="M9.293 12.95l.707.707L15.657 8l-1.414-1.414L10 10.828 5.757 6.586 4.343 8z"/></svg>
                  </div>
                </div>
              </div>

              <div class="flex flex-row space-x-4">
                <p class="w-6/12">*Start date</p> 
                <input type="text" id="start_NEX_GDDP_CMIP6" name="start_NEX_GDDP_CMIP6" class="start w-full	rounded-lg bg-white border border-gray-400 hover:border-gray-500 px-4 py-2 pr-8 rounded shadow leading-tight focus:outline-none focus:shadow-outline">
              </div>
              <div class="flex flex-row space-x-4">
                <p class="w-6/12">*End date</p>
                <input type="text" id="end_NEX_GDDP_CMIP6" name="end_NEX_GDDP_CMIP6" class="end w-full	rounded-lg bg-white border border-gray-400 hover:border-gray-500 px-4 py-2 pr-8 rounded shadow leading-tight focus:outline-none focus:shadow-outline">
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- <div class="my-2">
        <div class="flex justify-center my-2">
          <p><strong>Select Date Range</strong></p>
        </div>

      </div> -->
      <div class="flex items-center space-x-2">
        <button class="bg-green-900	text-zinc-50 flex flex-1 justify-center items-center p-2 rounded-lg" id="download_data">Download</button>
        <button class="bg-indigo-900 text-zinc-50 flex flex-1 justify-center items-center p-2 rounded-lg" id="plot_data">Plot</button>
        <button class="bg-cyan-900 text-zinc-50 flex flex-1 justify-center items-center p-2 rounded-lg " id="nasaaccess">Run</button>

      </div>
  
</div>
{% endblock %}

{% block app_content %}
  <div class="flex flex-col flex-1 h-full">
    <div id="map" class="flex-1 h-full w-full"></div>
    <div class="flex absolute w-full justify-end">
      <table id="tableLegend" class="flex flex-col opacity-70 p-4 bg-slate-200 w-1/4 hidden"></table>
    </div>

    <div id="graphs__panel" class="flex-1 relative hidden w-full pt-1.5">
      <canvas id="time__series"></canvas>
    </div>
  </div>

{% endblock %}





{# Use the after_app_content block for modals #}
{% block after_app_content %}
{% include "nasaaccess/functions_definitions.html" %} 
  <!-- Example Modal -->
  <div class="modal fade" id="help-modal" tabindex="-1" role="dialog" aria-labelledby="help-modal-label">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="help-modal-label"><strong>Welcome to NASAaccess</strong></h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
            <p>The NASAaccess Tethys App is a web platform developed for accessing and visualizing 
              climate and weather data from NASA's Earth Observing System Data and Information System (<a href="https://earthdata.nasa.gov/eosdis" style="color: blue;">EOSDIS</a>).
              More information about methodologies used in NASAaccess can be obtained from 
                <a href='https://doi.org/10.3390/rs10060885' style="color:blue">Mohammed et al., 2018</a>, <a href='https://doi.org/10.1016/j.envsoft.2019.104499' style="color:blue">McDonald et al., 2019</a>, and <a href='https://imohamme.github.io/NASAaccess/' style='color:blue'>NASAaccess demonstration web pages</a>.
            </p>
            <br>
            <p>NASAaccess App needs a user registration access with <a href='https://earthdata.nasa.gov/' style="color:blue">Earthdata</a>. NASAaccess App maintainer (server admin\local user) installing the app on a local server\machine should
                set up a registration account(s) with <a style='color: blue'  href='https://earthdata.nasa.gov/'>Earthdata</a> login as well as well as authorizing <a style='color: blue;'  href='https://www.nasa.gov/'>NASA</a>
                <a style='color: blue;' href='https://disc.gsfc.nasa.gov/'>GES DISC</a> data access. Please refer to <a style="color: blue;" href='https://disc.gsfc.nasa.gov/data-access'> https://disc.gsfc.nasa.gov/data-access </a> for further details.</p>
            <br>
                <p>After registration with <a style='color: blue;' href='https://earthdata.nasa.gov/'>Earthdata</a>  NASAaccess App  maintainer should create a reference file <a style='font-style:oblique;' >'.netrc' </a> with <a style="color: blue;" href='https://earthdata.nasa.gov/'>Earthdata</a> credentials stored in it
               to streamline the retrieval access to <a style='color:blue;' href='https://www.nasa.gov/'>NASA</a> servers.
               Creating the <a style='font-style:oblique;' >'.netrc' </a> file at the maintainer machine <a style='font-style:oblique;' >'Home' </a> directory and storing the user <a style='color: blue;' href='https://www.nasa.gov/'>NASA</a> <a style='color: blue;' href='https://disc.gsfc.nasa.gov/'>GES DISC</a> logging information
                in it is needed to execute the NASAaccess App functions. Accessing data at <a style='color:blue;' href='https://www.nasa.gov/'>NASA</a> servers is further explained at <a style='color: blue;' href=https://wiki.earthdata.nasa.gov/display/EL/How+To+Access+Data+With+cURL+And+Wget>EarthData wiki</a>.
            </p>
            <br>
            <p><strong>How to work with NASAaccess Tethys App:</strong></p>
            <ul class="list-group">
              
              <li class="list-group-item d-flex justify-content-between align-items-center">
                Select a watershed or upload your own
                <span class="text-base px-5 bg-gray-200 text-gray-600 rounded-full font-bold">must be a polygon shapefile or json file in a WGS 84 geographic projection</span>
              </li>
              <br>
              <li class="list-group-item d-flex justify-content-between align-items-center">
                Select a digital elevation model (DEM) or upload your own
                <span class="text-base px-5 bg-gray-200 text-gray-600 rounded-full font-bold">must be a TIFF file in a WGS-84 geographic projection</span>
              </li>
              <br>
              <li class="list-group-item d-flex justify-content-between align-items-center">
                Select at least one of the NASAaccess functions (e.g., <a style="font-style: oblique;">GPMpolyCentroid</a>)
              </li>
              <li class="list-group-item d-flex justify-content-between align-items-center">
                Click <button type="button" class="bg-cyan-900 text-zinc-50 p-2 rounded-lg inline-block" >Run</button> and then provide an email address for the app to contact you when the data preparation is ready and then click <button class="btn btn-primary p-2 text-zinc-50 inline-block">Submit</button>
              </li>
              <li class="list-group-item d-flex justify-content-between align-items-center">
                Once your request is finished (i.e., you have received an email from NASAaccess stating your data has been processed and it has an access code) then click <button type="button" class="inline-block bg-green-900	text-zinc-50 items-center p-2 rounded-lg" >Download</button> and provide your access code to download the data to your desired location.
              </li>
              <li class="list-group-item d-flex justify-content-between align-items-center">
                Click <button type="button" class="inline-block bg-indigo-900	text-zinc-50 items-center p-2 rounded-lg">Plot</button> and provide your access code to start visualizing your data!
              </li>
            </ul>                
            
                <br>
                <p><a style="font-style: oblique;">NASAaccess Tethys App source code can be browsed at <a style='color: blue; font-style: oblique;' href='https://github.com/imohamme/tethys_nasaaccess'>HERE.</a></a></p>
                <br>
                <p><a style='font-style:oblique;' >If you have questions, comments, or requests for further functionality please contact </a><a style='color: blue; font-style:oblique' href='mailto:ibrahim.mohammed@nasa.gov'>Ibrahim Mohammed</a>.</p>
                
                
              </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-outline-secondary" data-bs-dismiss="modal">Cancel</button>
          <button type="button" class="btn btn-outline-secondary" data-bs-dismiss="modal">OK</button>
        </div>
      </div>
    </div>
  </div>

<!-- Download Data Modal -->
  <div class="modal fade" id="download-modal" tabindex="-1" role="dialog" aria-labelledby="download-modal-label">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="download-modal-label">Download Data</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">x</button>
        </div>
        <div class="modal-body">
            <p>If you have previously run the NASAaccess function, you should have received a 6-digit access code.</p>
            <br>
            <p>Please input your access code below and click the "Download" button to download the files from your
                NASAaccess query.</p>
            <form class="form" method="post" enctype="multipart/form-data" action="download/">
                {% csrf_token %}
                <div class="flex justify-start items-center space-x-4 mt-2">
                  <label for="access_code">Access Code: </label>
                  <input type="text" id="access_code_input" name="access_code" class="border border-green-500 rounded-lg">
                  <button id= "submit_access_code" type="button" class="bg-green-900	text-zinc-50 flex justify-center items-center p-2 rounded-lg" data-bs-dismiss="modal">Download</button>
                </div>
            </form>

        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-outline-secondary" data-bs-dismiss="modal">Cancel</button>
        </div>
      </div>
    </div>
  </div>


<!-- Plot Data Modal -->
<div class="modal fade" id="plot-modal" tabindex="-1" role="dialog" aria-labelledby="plot-modal-label">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h5 class="modal-title" id="plot-modal-label">Plot Data</h5>
      </div>
      <div class="modal-body">
          <p>If you have previously run the NASAaccess function, you should have received at 6-digit access code.</p>
          <p>Please input your access code below and click the "Plot" button to plot the data from your
              NASAaccess query.</p>
          <form class="form" method="post" enctype="multipart/form-data" action="plot/">
              {% csrf_token %}
              <div class="flex justify-start items-center space-x-4 mt-2">
                <label for="access_code">Access Code: </label>
                <input type="text" id="access_code_input2" name="access_code" class="border border-green-500 rounded-lg">
                <button id= "plot_access_code" type="button" class="bg-green-900	text-zinc-50 flex justify-center items-center p-2 rounded-lg" data-bs-dismiss="modal">Plot</button>
              </div>
          </form>

      </div>
      <div class="modal-footer">
          <button type="button" class="btn btn-outline-secondary" data-bs-dismiss="modal">Cancel</button>
      </div>
    </div>
  </div>
</div>


<!-- Contact Information Modal -->
  <div class="modal fade" id="cont-modal" tabindex="-1" role="dialog" aria-labelledby="cont-modal-label">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h5 class="modal-title" id="cont-modal-label">Contact Information</h5>
        </div>
        <div class="modal-body">
            <p>Depending on the watershed size and the date range you selected,
                the nasaaccess process may take some time.
                Please provide your email here and we will contact you with a
                6 digit access code for downloading your data when the process is complete.
            </p>
            <div class="my-4">
              <label for="id_email">Email Address:</label>
              <input id="id_email" type="email" placeholder="Email" size="30" required  class="border border-green-500 rounded-lg">
            </div>
           
            <p>
              Your email will only remain in our database until your access code has been sent out.
              The access code you receive will then be valid for 3 days.
              </p>
        </div>
        <div class="modal-footer">
            <button class="btn btn-primary" id="submit_form">Submit</button>
            <button type="button" class="btn btn-outline-secondary" data-bs-dismiss="modal">Cancel</button>
        </div>
      </div>
    </div>
  </div>

<!-- Upload New Shapefile Modal -->
  <div class="modal fade" id="shp-modal" tabindex="-1" role="dialog" aria-labelledby="shp-modal-label">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="shp-modal-label">Upload New Shapefile</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
            <div class="alert alert-info" id="data-req"> <strong>Data Requirements:</strong> Must be a polygon shapefile or json file in a geographic projection (e.g. WGS84)</div>
            <form class="form" method="post" enctype="multipart/form-data" >

                {% csrf_token %}
                <input type="file" class="btn local-file-upload" id="shapefile-upload" accept=".shp,.prj,.shx,.dbf," multiple>
                <br>
                <button type="button" id="shp_submit" class="bg-green-900 text-zinc-50  p-2 rounded-lg"> Submit</button>

            </form>
            <div class="flex-container-row"><img id="loading" class="view-file hidden" src="/static/nasaaccess/images/loader.gif" style="margin: auto"/></div>

        </div>
        <div class="modal-footer">
          <button type="button" class="bg-red-600 text-zinc-50 p-2 rounded-lg" data-bs-dismiss="modal">Cancel</button>
        </div>
      </div>
    </div>
  </div>

    <!-- Upload New DEM Modal -->
  <div class="modal fade" id="dem-modal" tabindex="-1" role="dialog" aria-labelledby="dem-modal-label">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h5 class="modal-title" id="dem-modal-label">Upload New DEM file</h5>
        </div>
        <div class="modal-body">
            <div class="alert alert-info" id="data-req"> <strong>Data Requirements:</strong> Must be a TIFF file in a geographic projection (e.g. WGS84)</div>
            <form class="form" method = "post" enctype="multipart/form-data" action="upload_dem/">
                {% csrf_token %}
                <input type="file" class="btn local-file-upload" id="dem-upload" >
                <br>
                <button type="button" id="dem_submit" class="bg-green-900 text-zinc-50 p-3 rounded-lg"> Upload New DEM</button>

                <div class="flex-container-row"><img id="loading" class="view-file hidden" src="/static/nasaaccess/images/loader.gif" style="margin: auto"/></div>
            </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="bg-red-600 text-zinc-50 p-3 rounded-lg" data-bs-dismiss="modal">Cancel</button>
        </div>
      </div>
    </div>
  </div>
{% endblock %}


